@font-face {
  font-family: Telegraf;
  src: url("./fonts/TelegrafRegular.otf");
}

@font-face {
  font-family: TelegrafBold;
  src: url("./fonts/TelegrafUltraBold.ttf");
}

@font-face {
  font-family: EditorialNewUltralight;
  src: url("./fonts/PPEditorialNew-Ultralight.otf");
}

@font-face {
  font-family: HelveticaRegular;
  src: url("./fonts/Helvetica.ttf");
}

@font-face {
  font-family: EditorialNewUltralightItalic;
  src: url("./fonts/PPEditorialNew-UltralightItalic.ttf");
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("./fonts/HelveticaNeueBold.otf");
}

@font-face {
  font-family: EditorialRegular;
  src: url("./fonts/PPEditorialNew-Regular.otf");
}


@import "tailwindcss";

@theme{
  --font-telegraf: telegraf, "sans-serif"
}

@theme{
  --font-editorialregular: EditorialRegular, "sans-serif"
}

@theme{
  --font-editorialitalic: EditorialNewUltralightItalic, "sans-serif"
}

@theme{
  --font-helveticabold: HelveticaNeueBold, "sans-serif"
}

@theme{
  --font-telegrafbold: telegrafbold, "sans-serif"
}

@theme{
  --font-editoriallight: editorialnewultralight, "serif"
}

@theme{
  --font-helveticaregular: helveticaregular, "serif"
}

body{
  background: white;
}

.menu-options li{
  position: relative;
  
}

.logo{
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.logo .logo-image{
  transition: all .23s;
}

.logo::after{
  content: '';
  position: absolute;
  bottom:0;
  left:0;
  height: 100%;
  width: 0%;
  background: black;
  transition: width .3s cubic-bezier(1,0,0,1);
  z-index: 1;
}

.logo-image{
  position: relative;
  z-index: 2;
  transition: .01s;
  aspect-ratio: 1 / 1;
}

.logo:hover .logo-image {
  filter: brightness(0) invert(1);
}

.logo:hover:after{
  width: 100%;
}

.menu-options li:hover{
  font-weight: 800;
  transition: ease-out;
  
}

.menu-options li::after{
  content: '';
  position: absolute;
  height: 2px;
  left:0;
  bottom:0;
  width: 0%;
  background: black;
  transition: width .4s cubic-bezier(.57,.13,.21,.94);
}

.menu-options li:hover:after{
  width: 100%;
}

/* .name-overlay{
  backdrop-filter: ;
} */

.see-more:hover{
  font-weight: 800;
  transition: ease-out;
  
}

.see-more:after{
  content: '';
  position: absolute;
  height: 2px;
  left:0;
  bottom:0;
  width: 0%;
  background: rgb(255, 255, 255);
  transition: width .4s cubic-bezier(.57,.13,.21,.94);
}

.see-more:hover:after{
  width: 100%;
}

.gallery::-webkit-scrollbar{
    display:none;
}

.gallery div{
  flex:none;
}

.gallery-text{
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.5s;
}

.gallery-text:hover{
  width: 400px
}

.scroller__inner{
  white-space: nowrap; 
  animation: scroll 70s linear infinite;
  width: max-content;
}

.scroller__inner p {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  flex-shrink: 0; 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move exactly half the width */
  }
}

.scroll-btn{
  transition: all 0.2s;
}

.scroll-btn:hover{
  width:10;
  height:10;
}

.hire-me{
  position: relative;
  
}

/* .hire-me::before{
  content:"";
  width:100%;
  height:100%;
  background: url("./assets/hypnosis.gif");
  background-position: center;
  background-position-x: 47%;
  position: absolute;
  transition: all 0.4s;
} */

.hire-me{
  transition: all 0.5s;
}

.hire-me:hover{
  width:350px;
}

.hire-me-1:hover{
  opacity: 1;
}
.hire-me-1{
  height:100%;
  width: 100%;
  display: flex;
  background: url("./assets/hypnosis.gif");
  background-position: center;
  background-position-x: 47%;
  opacity: 0;
  transition:all 0.5s;
  position: relative;
}
.hire-me-1::after{
  content: "you want to hire me...";
  justify-content: center;
  align-items: center;
  mix-blend-mode:difference;
  height:100%;
  width: 100%;
  display: flex;
  font-family: HelveticaNeueBold;
  text-align: center;
  font-size: 50px;
  line-height: 40px;
  color: white;
  background: transparent;
  position: absolute;
}

@media screen and (max-width: 900px) {
  .projects-container{
    grid-template-columns: 1fr 1fr;
  }
  .about-section{
    flex-direction: column;
  }
  .about-text{
    margin: 40px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .projects-container{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1300px) {
  .hire-me{
    display: none;
  }
  .logo-links{
    width: fit-content;
  }
  .prof-lessprof{
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .about-section{
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media screen and (max-width: 1000px) {
  .currently-doing{
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .prof-lessprof{
    display: none;
  }
  .bottom-links{
    flex-direction: column;
  }
  .spotify{
    margin-right: calc(0.25rem * 5)
  }
  .the-deep{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .to-the-top{
    margin-bottom: 20px;
    font-size: 30px;
  }
  .top-arrow{
    width: 30px;
  }
  .b-link{
    margin:10px;
  }
  .b-link-s{
    justify-content: center;
  }
  .b-link-soc{
    justify-content: space-around;
  }
}

@media screen and (max-width: 680px) {
  #about, #projects{
    display: none;
  }
  .menu-options{
    min-width: 0px;
  }
}